.button-а,
.button-ё,
.button-л,
.button-с,
.button-ч,
.button-э {
  background-image: url(../images/cube/6/cube_100x100_1.png);
  transition: .5s;
}

.button-б,
.button-ж,
.button-м,
.button-т,
.button-ш,
.button-ю {
  background-image: url(../images/cube/6/cube_100x100_2.png);
  transition: .5s;
}

.button-в,
.button-з,
.button-н,
.button-у,
.button-щ,
.button-я {
  background-image: url(../images/cube/6/cube_100x100_3.png);
  transition: .5s;
}

.button-г,
.button-и,
.button-о,
.button-ф,
.button-ъ {
  background-image: url(../images/cube/6/cube_100x100_4.png);
  transition: .5s;
}

.button-д,
.button-й,
.button-п,
.button-х,
.button-ы {
  background-image: url(../images/cube/6/cube_100x100_5.png);
  transition: .5s;
}

.button-е,
.button-к,
.button-р,
.button-ц,
.button-ь {
  background-image: url(../images/cube/6/cube_100x100_6.png);
  transition: .5s;
}

.button-а:hover,
.button-ё:hover,
.button-л:hover,
.button-с:hover,
.button-ч:hover,
.button-э:hover,
.button-б:hover,
.button-ж:hover,
.button-м:hover,
.button-т:hover,
.button-ш:hover,
.button-ю:hover,
.button-в:hover,
.button-з:hover,
.button-н:hover,
.button-у:hover,
.button-щ:hover,
.button-я:hover,
.button-г:hover,
.button-и:hover,
.button-о:hover,
.button-ф:hover,
.button-ъ:hover,
.button-д:hover,
.button-й:hover,
.button-п:hover,
.button-х:hover,
.button-ы:hover,
.button-е:hover,
.button-к:hover,
.button-р:hover,
.button-ц:hover,
.button-ь:hover {
  transform: rotate(8deg) scale(1.3, 1.3) translateY(-10%);
}
