body {
  cursor: url(../src/cursor/pixel/Pixel/cursor.cur),
          auto;
  /* , auto, auto, auto, url(../src/cursor/pixel/Pixel/cursor_arm.cur) */

  /* min-width: 100vh; */
  min-height: 100vh;
  margin: 0;

  /* background-image: url(../images/background/old-man.jfif); */
  background-image: url(../images/background/white_4750x3250.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  overflow: auto; 
}
