@media(max-width: 500px){
    .body{
        background-size: cover;
        /* width: 100;
        height: auto; */
        background-position: -20% -20%;
    }

    .base {
      margin-top: 0;
    } 
    .game{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 7%;
    }

    #word-guess {
        margin-top: 20%;
    }
    #gameover{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        margin-top: 10%;
        margin-bottom: 3%;
        
      }
    .section_game-keyboard{
        margin-top: 20%;
        width: 88%;
    }

    .none{
         display: none;
    }
}
