@media screen and (orientation: landscape ) and (max-width: 800px) {
    body {
        overflow: scroll;
    }
    .header {
        width: auto;
        height: 10vh;
    }
    .base {
        width: 100vw;
    }
    /* .rules {
        margin: 0;
    } */
    .themes {
        margin: 0;
        
    }
    .game h1 {
        margin: 0;
        padding: 0;
    } 
    #gameover {
        margin-top: auto;
    }

    .section_game-keyboard {
        width: 64%;
        }
}

@media screen and (orientation: portrait) and (max-width: 800px){
    .body {
        overflow: auto;

        overflow: scroll;
    }

    .header {
        width: auto;
        height: 10vh;
    }
    .game {
        margin-top: 0;
    }
    .game h1 {
        margin-top:  10vh;
    }
    #gameover {
        margin-top: 10%;
    }
    .section_game-keyboard {
    width: 64%;
    }
}