@media screen and (orientation: landscape ) and (max-width: 915px) {
    #body {
        overflow: scroll;
    }
    .header {
        width: auto;
        height: 10vh;
    }
    .base {
        width: 100vw;
    }
    /* .rules {
        margin: 0;
    } */
    .themes {
        margin: 0;
        
    }
    .game-header {
        padding-top: 3vh;
    }
    .game h1 {
        margin: 0;
        padding: 0;
    } 
    .button_icon-left,
    .button_icon-right  {
        margin-top: auto;
    }

    .section_game-keyboard {
        width: 55%;
        padding-bottom: 5vh;
        }
}

@media screen and (orientation: portrait) and (max-width: 820px){
    #body {
        overflow: auto;

        overflow: scroll;
        background-position-x: 7%;

    }
   
    .blockImage{
        background-position-x: 7%;

    }

    .header {
        width: auto;
        height: 10vh;
    }
    .game {
        margin-top: 0;
    }
    .game-header {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .game h1 {
        margin-top:  10vh;
        padding-left: 10%;
        padding-right: 10%;
    }
    .button_icon-left,
    .button_icon-right  {
        margin-top: 10%;
    }

    #word-guess {
        margin-top: 10%;
    }
    .section_game-keyboard {
    width: 65%;
    }
}