
@media screen and (orientation: landscape) and (max-width: 850px) {
    .body{
        overflow: scroll;

    }
    .div_game-base {
        margin: 3vh;
    }
    .game h1 {
        padding: 0;
        margin: 0;

    }
    .hangman {
        margin-bottom: 0;
    }
}

@media screen and (orientation: portrait) and (max-width: 500px){
    .body{
        background-size: cover;
        overflow: scroll;

        background-position: -20% -20%;
    }
    .game {
        flex-direction: column;
        align-items: center;
        /* margin: 0; */
        /* gap: 20px; */
    }
    .div_game-base {
       margin-top: 0;
    }
    .game h1 {
        padding-bottom: 20vh;

    }
    .hangman {
        margin-bottom: 0;
    }
  
    #gameover{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        /* margin: 0; */
        gap: 30vh;
        
      }
    .section_game-keyboard{
        width: 88%;
    }

    .none{
         display: none;
    }
}

