.all {
  width: inherit;
  height: 100vh;
  /* border-top: 1px solid transparent; */
  overflow: auto;
}

body {
  min-width: 100vh;
  min-height: 100vh;

  margin: 0;
  /* padding-top: 10px; */

  background-image: url(../images/background/white_4750x3250.jpg);

  /* Хотел навесить сверху на картинку полупрозрачный чёрный, чтоб её затемнить
     но, сук, это не так-то просто */
  /* background-color: rgba(0, 0, 0, 0.5); */

  /* фон под размер вкладки: */
  background-size: cover;
  /* background-size: contain; */

  /* фон при прокручивании страницы будет на одном месте: */
  background-attachment: fixed;

  /* делает невозможным прокручивание страницы (даже если контент выходит за неё): */
  /* overflow: hidden;  */
  
  /* поэтому добавим тупо auto */
  overflow: auto; 
}

.green-background {
  background-color: green;
}

.h3_date {
  display: table;

  margin: 117px auto 117px auto;

  text-align: center;
}

.red-background {
  background-color: brown;
}

.div_square {
  width: 300px;
  height: 300px;

  margin: 0 auto;
  margin-top: 300px;

  /* Добавил "настройку прокрутки"?..
     только для того, чтобы margin дочерних элементов работал внутри этого */
  overflow: auto; 
}