::-webkit-scrollbar {
  width: 0;
}

body {
  cursor: url(../src/cursor/pixel/Pixel/cursor.cur), auto;

  width: 100vw;
  height: 200vh;
  
  margin: 0 auto;

  background-color: rgb(0, 0, 0);
  /* background-image: url(../images/background/concept_1137x1280.jpg); */
  /* background-image: url(../images/background/background_maket.jpg); */
  background-image: url(../images/background/reliz_1920x2160.jpg);
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  /* background-attachment: fixed; */

  overflow: auto;
}


/* TITLE page (first) */
.base {
  width: 100vw;
  height: 100vh;
}

.header {
  margin: auto;
  padding-top: 3vh;
  padding-left: 5vh;

  color: rgb(255, 165, 0);
  font-size: 60px;
  font-weight: bold;
}

.themes {
  box-sizing: border-box;
  margin-bottom: 18vh;
}

.themes .header,
.rules .header {
  color: rgb(255, 165, 0);
  text-align: center;
  font-size: 60px;
  font-weight: 900;
}

.theme,
.rule {
  display: inline-block;

  margin: 5px;
  padding: 5px;

  list-style-type: none;

  border: 1px solid rgb(255, 0, 0);
  border-radius: 10px;

  background-color: rgb(255, 255, 255);
  opacity: 70%;

}

.theme {
  font-size: 35px;
  color: rgb(255, 132, 0);
}

.themes .line_1,
.themes .line_2,
.rules  .line_1 {
  width: 80%;

  margin-left: auto;
  margin-right: auto;
  
  text-align: center;
}


/* GAME page (second) */
:root {
  --step: 10px;
  --width: calc(var(--step) * 3);
  --height: calc(var(--step) * 8);

  /* --width_letter: var(--step); */
  /* --margin_letter: calc(var(--step) / 2.5); */
}

.game {
  width: 100vw;
  height: 100vh;
  /* margin: auto; */
}

.section_game-base {
  width: 70%;
  height: 100vh;
  float: left;
  /* margin-right: 20%; */
}


.game-keyboard {
  width: 30%;
  height: 100vh;
  float: right;
}

.div_game-base {
  display: block;
  float: right;

  width: calc(12 * 30 + 24 * 5);

  margin-right: 20vw;
}

.game h1 {
  /* margin: 0 auto; */

  color: rgb(255, 165, 0);
  text-align: center;
}

.hangman {
  width: var(--width);
  height: var(--height);
  opacity: 0;
  
  margin: 0 auto;

  background: url(../images/human_525x200.png) no-repeat top right;
  background-size: auto 100%;
}


.hangman[data-step="0"] { background-position-x: calc(var(--width) * 0) }
.hangman[data-step="1"] { background-position-x: calc(var(--width) * -1) }
.hangman[data-step="2"] { background-position-x: calc(var(--width) * -2) }
.hangman[data-step="3"] { background-position-x: calc(var(--width) * -3) }
.hangman[data-step="4"] { background-position-x: calc(var(--width) * -4) }
.hangman[data-step="5"] { background-position-x: calc(var(--width) * -5) }
.hangman[data-step="6"] { background-position-x: calc(var(--width) * -6) }

.word {
  display: inline-block;
  height: 50px;
  margin: auto;

  font-size: 36px;
  font-weight: bold;
}

.letter {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;

  background-image: url(../images/cube/cube.svg);
  background-position: center;

  text-align: center;
}

button {
  height: 50px;
  width: 50px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 10%;
}

.buttonStartAgain {
  width: 80px;
  height: 40px;
}