/* Задаём пользовательские переменные */
:root {
    /* Цвета */
    --clr-background: hsl(24, 100%, 99%);

    --clr-accent: hsl(27, 100%, 63%);
    --clr-accent-hover: hsl(27, 98%, 54%);

    /* --clr-primary: hsl(233, 63%, 86%); */
    --clr-primary: hsl(233, 39%, 48%);

    --clr-secondary: hsl(230, 88%, 76%);

    --clr-neutral-100: hsl(0, 0%, 100%);

    --clr-neutral-900: hsl(24, 100%, 2%);
    --clr-shadow: hsla(24, 57%, 19%, 0.5);

    /* Шрифты */
    font-family: 'Inter', sans-serif;

    /* Размер шрифтов */
    --fw-regular: 300;
    --fw-semi-bold: 600;
    --fw-bold: 900;

    --fs-300: .8125rem;
    --fs-400: .875rem;
    --fs-500: .9375rem;
    --fs-600: 1rem;
    --fs-700: 1.875rem;
    --fs-800: 2.5rem;
    --fs-900: 3.5rem;

    --fs-body: var(--fs-600);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-700);
    --fs-nav: var(--fs-600);
    --fs-button: var(--fs-600);

    /* разметка для отступов */
    --size-100: .25rem;
    --size-200: .5rem;  
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-700: 3rem;
    --size-800: 4rem;
    --size-900: 5rem;
}


/* Настройка шрифтов под небольшие экраны */
@media (max-width: 50em) {
    :root {
        --fs-body: var(--fs-500);
        --fs-primary-heading: var(--fs-800);
        --fs-secondary-heading: var(--fs-700);

        --fs-nav: var(--fs-600);
    }
}


/* https://medium.com/@stasonmars/%D1%81%D0%BE%D0%B2%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%BD%D1%8B%D0%B8%CC%86-%D1%81%D0%B1%D1%80%D0%BE%D1%81-css-f5816963c82b */
/* Сброс CSS стилей */

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внешние отступы */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html,
body {
    height: 100%;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Основной стиль */
body {
    font-size: var(--fs-body);
    color: var(--clr-neutral-900);
    background-color: var(--clr-background);
}

img {
    border-radius: var(--size-300);
}

/* Кнопки */
.button {
    cursor: pointer;
    border: 0;
    border-radius: .375rem;
    padding: 16px 42px;;
    font-size: var(--fs-button);
    font-weight: var(--fw-semi-bold);
    line-height: 1;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent);
}

.button:hover,
.button:focus-visible {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
    background-color: var(--clr-accent-hover);
    color: var(--clr-neutral-100);
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--clr-accent); }
}

@media (max-width: 50em) {
    .button {
        padding: 14px 32px;
        font-size: var(--fs-400);
    }
}

/* Навигация */
.primary-header {
    padding-top: var(--size-300);
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-bar {
    display: none;
}

.nav-list {
    display: flex;
    font-size: var(--fs-nav);
    gap: var(--size-900);
    font-weight: var(--fw-semi-bold);
}

.nav-list a {
    text-decoration: none;
    color: var(--clr-neutral-900);
}

.nav-list a:hover,
.nav-list a:focus {
    color: var(--clr-accent);
}

/* Навигация на маленьких экранах */
@media (max-width: 50em) {
    .primary-navigation {
        display: none;

        position: absolute;
        padding: var(--size-400);
        inset: var(--size-900) var(--size-400) auto;
        background: var(--clr-neutral-900);
        border-radius: .345em;
    }

    .nav-list {
        display: grid;
        gap: var(--size-400);
        text-align: center;
    }

    .nav-list a {
        color: var(--clr-neutral-100);
    }

    .primary-navigation[data-visible] {
        display: block;
    }

    .mobile-nav-bar {
        display: block;
        cursor: pointer;
        background: none;
        border: 0;
        padding: 4px 12px;
        width: var(--size-600);
        aspect-ratio: 1;

        background-image: url("/images/icons/menu-open.svg");
        background-size: contain;
    }

    .mobile-nav-bar[aria-expanded="true"] {
        background-image: url("/images/icons/menu-close.svg");
    }

    .mobile-nav-bar
    .icon-close {
        display: none;
    }
}

/* Картинки игры */
.pic-container {
    aspect-ratio: 1/1.1;
}
.pic-container > .pic {
    background-image: url("../images/forMain/ded.jpg");
    height: 100%;
    width: 100%;
    background-size: 300%;
    border-radius: var(--size-300);
    filter: sepia(70%);
    animation: pan-image 15s linear infinite;
}

@keyframes pan-image {  
    0% {
      background-position: 10% 90%;
      background-size: 300%;
    }
    
    20% {
      background-position: 10% 90%;
      background-size: 200%;
    }
    
    20.0001% { /* -- View 2 -- */
      background-position: 20% 60%;
      background-size: 500%;
    }
    
    40% {
      background-position: 20% 65%;
      background-size: 500%;
    }
    
    40.0001% { /* -- View 3 -- */
      background-position: 90% 70%;
      background-size: 300%;
    }
    
    60% {
      background-position: 70% 60%;
      background-size: 300%;
    }
    
    60.0001% { /* -- View 4 -- */
      background-position: 0% 0%;
      background-size: 300%;
    }
    
    80% {
      background-position: 15% 4%;
      background-size: 300%;
    }
    
    80.0001% { /* -- View 5 -- */
      background-position: 80% 10%;
      background-size: 250%;
    }
    
    100% {
      background-position: 60% 10%;
      background-size: 200%;
    }
  }

#introduction {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        var(--clr-primary),
        var(--clr-secondary),
        var(--clr-primary)
        );
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

/* Слайдер */
.text-center {
    text-align: center;
}

.slider {
    display: flex;
    gap: var(--size-400);
    list-style: none;
    border-radius: var(--size-300);
}

.a11y-slider-container {
    margin-block: var(--size-700);
}

.slider > * {
    flex: 0 0 auto;
    position: relative;
    width: 100%;
}

.slider-content {
    padding: var(--size-700) var(--size-500) var(--size-600);
    border-radius: var(--size-400);
    background: linear-gradient( hsla(233, 63%, 86%, 0.219), hsla(0, 0%, 89%, 0.308));
}

.slider img {
    width: var(--size-900);
    border-radius: 50%;
    position: relative;
    inset: 0;
    margin-inline: auto;
    transform: translateY(var(--size-700));
}

.a11y-slider-prev {
    text-indent: -9999px;
    position: relative;
}

.a11y-slider-prev {
    content: "test";
}

.a11y-slider-next {
    text-indent: -9999px;
    position: relative;
}

.a11y-slider-dots li {
    display: block;
    width: 12px;
    height: 12px;
    padding: 0;
    margin: 0 6px;
    color: var(--clr-neutral-900);
    display: inline-flex;

}

.a11y-slider-dots li button {
    display: block;
    font-size: 0;
    text-indent: -9999px;
    border: 1px solid !important;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: transparent;
}

.a11y-slider-dots li button.active {
    background-color: var(--clr-primary);
}

@media (min-width: 768px) {
    .slider > * {
      width: 50%;
    }
  }
  
  @media (min-width: 960px) {
    .slider > * {
      width: 33.3333%;
    }
  }
  
  @media (min-width: 1280px) {
    .slider > * {
      width: 25%;
    }
  }

/* Футер */
.foot-list {
    align-items: center;
    display: flex;
    gap: var(--size-600);
}

.icon-size {
    width: var(--size-600);
}

/* Задана максимальная ширина контейнеров и их отступы по горизантали */
.container {
    --max-width: 1110px;
    --padding: 2rem;

    width: min(var(--max-width), 100% - var(--padding));
    margin-inline: auto;
}

@media (max-width: 50em) {
    .container {
        text-align: center;
    }

    .about {
        padding-top: var(--size-600);
    }
}

/* Взято от сюда  https://andy-bell.co.uk/my-favourite-3-lines-of-css/ */
/* Выбирает все элементы, которые имеют одинаковы родительский элмент, кроме первого */
/* ".flow > * + *" => .flow :not(:first-child) - from Kevin Powell channel*/
:where(.flow :not(:first-child)) {
    margin-top: var(--flow-spacer, 2em);
}

.even-columns {
    display: grid;
    gap: 1rem;
}

.vertical-align-center {
    align-items: center;
}

.justify-self-end {
    justify-self: end;
}

/* Адаптив под маленькие экраны */
@media (min-width: 50em) {
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

/* Цвета для текста */
.text-primary {
    color: var(--clr-primary);
}
.text-secondary {
    color: var(--clr-secondary);
}
.text-accent {
    color: var(--clr-accent);
}
.text-neutral-100 {
    color: var(--clr-neutral-100)
}
.text-neutral-900 {
    color: var(--clr-neutral-900)
}

/* Цвета для бэкграунда */
.background {
    background-color: var(--clr-background);
}
.bg-primary {
    background-color: var(--clr-primary);
}
.bg-secondary {
    background-color: var(--clr-secondary);
}
.bg-accent {
    background-color: var(--clr-accent);
}
.bg-neutral-100 {
    background-color: var(--clr-neutral-100)
}
.bg-neutral-900 {
    background-color: var(--clr-neutral-900)
}

/* Настройка шрифтов*/
.fw-bold {
    font-weight: var(--fw-bold);
}
.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}
.fw-regular {
    font-weight: var(--fw-regular);
}


.fs-primary-heading {
    font-size: var(--fs-primary-heading);
    line-height: 1;
}
.fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
    line-height: 1.1;
}

.fs-300 {
    font-size: var(--fs-300);
}
.fs-400 {
    font-size: var(--fs-400);
}
.fs-500 {
    font-size: var(--fs-500);
}
.fs-600 {
    font-size: var(--fs-600);
}
.fs-700 {
    font-size: var(--fs-700);
}
.fs-800 {
    font-size: var(--fs-800);
}
.fs-900 {
    font-size: var(--fs-900);
}

/* Разметка страницы */
.padding-block-900 {
    padding-block: var(--size-900);
}
.padding-block-700 {
    padding-block: var(--size-700);
}
.padding-block-400 {
    padding-block: var(--size-400);
}
